# Core GPU Stack
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torchvision==0.18.0+cu121
torchaudio==2.3.0+cu121

# Lightning & Metrics
lightning==2.2.4
torchmetrics==1.4.0

# General Utilities
numpy==1.26.4
tensorboard==2.16.2
matplotlib==3.8.4
scipy==1.13.0
tqdm==4.66.4
pypdf==4.1.0
